html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;

}

body {
	background-color: #FFFFFF;

}

section.header {
	height: 80px;
	background-color: #CFD8DC;
	max-height:100%;

}


section.content {
	padding: 3em;
}

.image-thumbnail-large {
	background-image: url('../img/burger.jpg');
	background-position: center;
	background-size: cover;
	min-height: 250px;
	max-height: 100%;

}

.image-thumbnail-page1 {
	background-image: url('http://imgur.com/pqikuNZ.jpg');
	background-position: center;
	background-size: 100%;
	min-height: 300px;
	max-height: 100%;

}

.image-thumbnail-type {
	background-image: url('http://www.tacobueno.com/media/1375/softbeeftacolarge.png?quality=65');
	background-position: center;
	background-size: cover;
	height: 325px;
	width: 325px;

}

.image-thumbnail-logo {
	background-image: url('../img/logo.png');
	background-position: center;
	background-size: cover;
	position:fixed;
	z-index: 10;
	display: block;
	top: 0px;
	height: 50px;
	width: 50px;
	max-width: 100%;


}

.image-thumbnail-logo + div {
		position:fixed;
	z-index: 10;
	display: block;
	top: 0px;
	height: 50px;
	width: 50px;
	max-width: 100%;
	margin-left: 3.5em;
	margin-top: .75em;
}

.top-bartest {
	background-color: #ECEFF1;
}

.nav-wrapper {
	background-color: #ECEFF1;
	max-width: 100%;
}

.nav-wrapper div div ul li{
	padding-right: 3em;
}

.bar-background {
	background-color: #ECEFF1;
}

.bar-background ul {
	background-color: #ECEFF1;
}

.bar-background ul li a{
	background-color: #ECEFF1;
	color: black;
}

.bar-background ul li ul li a{
	border:none;
	background-color: #ECEFF1;
	color: black;
}

.footer-wrapper {
	position:absolute;
 	bottom:0;
 	height: 50px;
 	background-color: #CFD8DC;
 	width: 100%;
 	color: black;
 	text-align: center;
	padding-top: 0.75em;
}


.burger-one {
	background-color: #ffffff;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	background-image: url('http://imgur.com/gi2aHEd.jpg');
	background-position: center;

}

.burger-two {
	background-color: #ECEFF1;
}

.burger-three {
	background-color: #ffffff;
	background-size: cover;
	background-image: url('http://imgur.com/S407sSx.jpg');
	color: white;
}


.nav-wrapper-full {
	background-color:#ECEFF1;
	position:fixed;
	z-index: 9;
	display: block;
	top: 0px;
	width: 100%;
	max-width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-wrapper-full div div ul li {
	padding-right: 3em;
}

.nav-button{
	padding-left: 0.1em;
}

.random-thing{
	padding-left: 0;
}

.footer-wrapper-full {
	background-color:#ECEFF1;
	position:fixed;
	z-index: 9;
	display: block;
	bottom: 0px;
	width: 100%;
	max-width: 100%;
	height: 50px;
	color: black;
	text-align: center;
	padding-top: 0.75em;
}
.top-bar {
text-align:center;
}
.top-bar {
display: inline-block;
}

.nav-button2{
	padding-left:3em;
}

.burger-one-content-wrapper{
	padding-top: 4em;
}

.burger-two-content-wrapper{
	text-align: center;
	padding-top: 3em;
}

.bin-button{
	margin-top: 2em;
	text-align: center;
	background-color:#B71C1C;

}
.bin-button:hover{
	text-align: center;
	background-color:#FF1744;
	
}

.shop-content-wrapper{
	padding-top:1.5em;
}

.types-wrapper{
	padding-top: 1em;
}

.login-button{
	z-index: 11;
	display:inline-block;
	top: 0px;
	position: fixed;
	clear:both;
	float: right;
	right: 0px;
	height: auto;
}

.login-button{
	text-align: center;
	background-color:#B71C1C;
}

.red-text{
	color: #B71C1C;
	text-shadow: 3px 3px 0px #000;
}

.red-text2{
	color: #B71C1C;
}

.cost-wrapper h3 ul li{
	list-style: none;
}

.thick-hr{
	margin: 0;
	height: 2px;
	border: none;
	background-color: #B71C1C;
}

.trans-bg, .trans-bg2 h2{
	text-shadow: 3px 3px 0px #000;
}

.burger-shop{
	background-color: #ffffff;
}

.slide-1{
	background-color: #ffffff;
	color:black;
}

.vertical {
	color:black;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #999;
}

.fp-controlArrow.fp-prev {

	border-color: transparent #999 transparent transparent;
}

.about-content {
	background-color: #ffffff;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	background-image: url('http://imgur.com/pqikuNZ.jpg');
	background-position: center;
}



.red-text3{
	color: rgb(104, 238, 241);
}